			</div>
		</div>

		<div id="about" class="uk-flex-top" uk-modal>
			<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
				<button class="uk-modal-close-default" type="button" uk-close></button>
				<h2 class="uk-modal-title">পরীক্ষামূলক প্রকাশ</h2>
				<p>উদ্বোধন: ২২ নভেম্বর ২০১৯ রোজ শুক্রবার</p>
				<p>সম্মানিত পাঠকবৃন্দের নিকট সংশোধনী, মতামত, ও পরামর্শ আহ্বান।</p>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.3.1/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.3.1/js/uikit-icons.min.js"></script>
		<script type="text/javascript">
			(function() {
				if (!navigator.serviceWorker) {
					return;
				}
				navigator.serviceWorker.register('/sw.js', {
					scope: '/'
				});
			})();
		</script>
	</body>
</html>
