{{partial "preamble" .}}

<div class="uk-child-width-1-4@s uk-text-center" uk-grid>
	<a href="/quran-meaning/" class="uk-link-reset">
		<div class="uk-card uk-card-small uk-card-default">
			<div class="uk-card-media-top">
				<img src="/book-cover-image.jpg" alt="কুরআন কারীমের মর্মার্থ ও শব্দার্থ">
			</div>
			<div class="uk-card-body">
				<h3 class="uk-card-title">কুরআন কারীমের মর্মার্থ ও শব্দার্থ</h3>
				<p>প্রণেতা: অধ্যাপক মুহাম্মাদ নুরুল ইসলাম মাক্কী</p>
			</div>
		</div>
	</a>
</div>

<div class="uk-child-width-1-4@s uk-child-width-1-2 uk-text-center" uk-grid>
	<a href="/quran/" class="uk-link-reset">
		<div class="uk-card uk-card-small uk-card-default">
			<div class="uk-card-body">
				<div class="uk-padding-small">
					<img src="/quran.svg" alt="কুরআন">
				</div>
				<h3 class="uk-card-title">কুরআন</h3>
			</div>
		</div>
	</a>

	<a href="/adhan/" class="uk-link-reset">
		<div class="uk-card uk-card-small uk-card-default">
			<div class="uk-card-body">
				<div class="uk-padding-small">
					<img src="/sajadah.svg" alt="আযানের সময়">
				</div>
				<h3 class="uk-card-title">আযানের সময়</h3>
			</div>
		</div>
	</a>

	<a href="/qibla/" class="uk-link-reset">
		<div class="uk-card uk-card-small uk-card-default">
			<div class="uk-card-body">
				<div class="uk-padding-small">
					<img src="/qibla.svg" alt="কিবলা">
				</div>
				<h3 class="uk-card-title">কিবলা</h3>
			</div>
		</div>
	</a>

	<a href="/dua/" class="uk-link-reset">
		<div class="uk-card uk-card-small uk-card-default">
			<div class="uk-card-body">
				<div class="uk-padding-small">
					<img src="/dua.svg" alt="দোয়া">
				</div>
				<h3 class="uk-card-title">দোয়া</h3>
			</div>
		</div>
	</a>
</div>

{{partial "postamble" .}}
