{{partial "preamble" .}}

<div id="noLocation" class="uk-alert-danger" uk-alert style="display: none;">
	<p>We could not retrieve your current location.</p>
</div>

<h1 id="gregorian" class="uk-margin-remove-top uk-text-center"></h1>
<h2 id="hijri" class="uk-margin-remove-top uk-text-center"></h2>

<table id="timings" class="uk-table uk-table-divider uk-table-middle">
	<tbody>
		<tr>
			<td>
				<div class="bengali uk-text-large">ফজর</div>
				<div class="arabic uk-text-left">صلاة الفجر</div>
			</td>
			<td id="fajr" class="uk-text-large uk-text-right"></td>
		</tr>
		<tr class="uk-text-muted">
			<td>
				<div class="bengali uk-text-large">সূর্যোদয়</div>
				<div class="arabic uk-text-left"></div>
			</td>
			<td id="sunrise" class="uk-text-large uk-text-right"></td>
		</tr>
		<tr>
			<td>
				<div class="bengali uk-text-large">যুহর</div>
				<div class="arabic uk-text-left">صلاة الظهر</div>
			</td>
			<td id="dhuhr" class="uk-text-large uk-text-right"></td>
		</tr>
		<tr>
			<td>
				<div class="bengali uk-text-large">আছর</div>
				<div class="arabic uk-text-left">صلاة العصر</div>
			</td>
			<td id="asr" class="uk-text-large uk-text-right"></td>
		</tr>
		<tr class="uk-text-muted">
			<td>
				<div class="bengali uk-text-large">সূর্যাস্ত</div>
				<div class="arabic uk-text-left"></div>
			</td>
			<td id="sunset" class="uk-text-large uk-text-right"></td>
		</tr>
		<tr>
			<td>
				<div class="bengali uk-text-large">মাগরিব</div>
				<div class="arabic uk-text-left">صلاة المغرب</div>
			</td>
			<td id="maghrib" class="uk-text-large uk-text-right"></td>
		</tr>
		<tr>
			<td>
				<div class="bengali uk-text-large">ইশা</div>
				<div class="arabic uk-text-left">صلاة العشاء</div>
			</td>
			<td id="isha" class="uk-text-large uk-text-right"></td>
		</tr>
		<!-- <tr class="uk-text-muted">
			<td>Imsak</td>
			<td id="imsak" class="uk-text-large uk-text-right"></td>
		</tr>
		<tr class="uk-text-muted">
			<td>Midnight</td>
			<td id="midnight" class="uk-text-large uk-text-right"></td>
		</tr> -->
	</tbody>
</table>

<div id="logs">
</div>

<script src="/vendor/moment.min.js"></script>
<script src="/adhan.js"></script>

{{partial "postamble" .}}
