{{partial "preamble" .}}

<table class="uk-table uk-table-divider">
	<tbody>
		{{range sort .Pages "File.BaseFileName"}}
			<tr>
				<td {{if not .Params.notAyat}}id="ayat{{.File.BaseFileName}}"{{end}}>
					<h2 class="uk-heading-small arabic ayat">
						{{.Title}}
					</h2>
					{{if .Content}}
						<div class="uk-text-large bengali">
							{{.Content}}
						</div>
					{{end}}
					{{if .Params.source}}
						<div class="uk-text-large uk-text-muted bengali">
							{{if eq .Params.source.kind "ayat"}}
								<p><a href="/quran/{{.Params.source.surah}}/#ayat{{.Params.source.ayat}}" class="uk-link-reset">আল কুরআন সুরা {{index $.Site.Data.Surahs.Bengali .Params.source.surah}} {{index $.Site.Data.Numbers.Bengali .Params.source.surah}}:{{index $.Site.Data.Numbers.Bengali .Params.source.ayat}}</a></p>
							{{end}}
						</div>
					{{end}}
				</td>
			</tr>
		{{end}}
	</tbody>
</table>

{{partial "postamble" .}}
