{{partial "preamble" .}}

<ul uk-accordion="toggle: .uk-accordion-toggler">
	<li>
		<span class="uk-inline">
			<span class="uk-accordion-toggler uk-position-center-right" uk-icon="icon: info; ratio: 2;"></span>
			<h1 class="uk-margin-remove-top uk-margin-remove-bottom uk-margin-xlarge-right">কুরআন কারীমের মর্মার্থ ও শব্দার্থ</h1>
		</span>
		<div class="uk-accordion-content">
			<img src="/book-cover-image.jpg" alt="কুরআন কারীমের মর্মার্থ ও শব্দার্থ">

			{{.Content}}

			<hr>
		</div>
	</li>
</ul>

<table class="uk-table uk-table-divider">
	<tbody>
		{{range $i, $page := .Pages}}
			{{$no := add $i 1}}
			<tr>
				<td>
					<a href="{{$page.RelPermalink}}" class="uk-link-reset">
						<div uk-grid>
							<div class="uk-width-expand">
								<h2 class="bengali">{{index $.Site.Data.Numbers.Bengali $no}}। {{$page.Title}}</h2>
							</div>
							<div class="uk-width-auto">
								<h3 class="arabic uk-margin-remove-bottom">
									{{index $.Site.Data.Surahs.Arabic $no}}
								</h3>
							</div>
						</div>
					</a>
				</td>
			</tr>
		{{end}}
	</tbody>
</table>

{{partial "postamble" .}}
