{{partial "preamble" .}}

<ul uk-accordion="toggle: .uk-accordion-toggler">
	<li>
		<span class="uk-inline">
			<span class="uk-accordion-toggler uk-position-center-right" uk-icon="icon: info; ratio: 2;"></span>
			<h1 class="uk-margin-remove-top uk-margin-remove-bottom uk-margin-xlarge-right">কুরআন কারীমের মর্মার্থ ও শব্দার্থ</h1>
		</span>
		<div class="uk-accordion-content">
			<img src="/book-cover-image.jpg" alt="কুরআন কারীমের মর্মার্থ ও শব্দার্থ">

			{{.Content}}

			<hr>
		</div>
	</li>
</ul>

<table class="uk-table uk-table-divider">
	<tbody>
		{{range .Pages}}
			<tr>
				<td>
					<a href="{{.RelPermalink}}" class="uk-link-reset">
						<h2 class="bengali" style="margin-bottom: 0;">{{.Title}}</h2>
					</a>
				</td>
			</tr>
		{{end}}
	</tbody>
</table>

{{partial "postamble" .}}
