{{partial "preamble" .}}

<div id="noCompass" class="uk-alert-danger" uk-alert style="display: none;">
	<p>This device doesn't have a compass.</p>
</div>

<div id="noLocation" class="uk-alert-danger" uk-alert style="display: none;">
	<p>We could not retrieve your current location.</p>
</div>

<div class="uk-text-center uk-position-center">
	<img id="compass" src="/compass.svg" width="256">
</div>

<div class="uk-text-center uk-position-center">
	<img id="compass" src="/kaaba.svg" width="96">
</div>

<div id="logs">
</div>

<script src="/qibla.js"></script>

{{partial "postamble" .}}
