{{partial "preamble" .}}

<table class="uk-table uk-table-divider">
	<tbody>
		{{range $i, $page := .Pages}}
			{{$no := add $i 1}}
			<tr>
				<td>
					<a href="{{$page.RelPermalink}}" class="uk-link-reset">
						<div uk-grid>
							<div class="uk-width-expand">
								<div class="bengali uk-text-large">{{$page.Title}}</div>
								<div class="bengali uk-text-muted">{{$page.Params.speaker}}</div>
							</div>
						</div>
					</a>
				</td>
			</tr>
		{{end}}
	</tbody>
</table>

{{partial "postamble" .}}
